p code, li code {
  display: inline;
  word-wrap: break-word;
  background: #fff;
  font-size: .8em;
  line-height: 1.5em;
  color: #555;
  border: 1px solid #ddd;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  padding: 0 .3em;
  margin: -1px 5px 0 5px;
}

pre code {
  display: block;
  border: 1px solid #ccc;
  font-size: 12px;
  line-height: 20px;
  font-weight: 12px;
  letter-spacing: .5px;
  padding: 10px 0 10px 35px;
  background: #2d2d2d;
}

pre {
  position: relative;
  padding: 0 0 0 30px;
  font-size: 15px;
}

code {
  font-family: Monaco, 'MonacoRegular', 'Courier New', monospace !important;
  overflow: visible;
}

pre {
  overflow-x: auto;
  overflow-y: hidden;
}

pre code:text {
  color: #000;
}

pre ul.numbering {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  margin: 0;
  padding: 8px 2px 10px 0;
  border-right: 0px solid #C3CCD0;
  border-radius: 3px 0 0 3px;
  background-color: #EEE;
  text-align: right;
  font-family: Menlo, monospace;
  font-size: 0.8em;
  color: #888;
}

code span {
  white-space: nowrap;
}

.hljs {
  white-space: pre;
  word-wrap: normal;
}

ul.numbering li {
  line-height: 20px;
  text-align: right;
  margin-right: 1.5px;
}