body {
  padding: 50px;
  font-size: 16px;
  font-family: Georgia,"Times New Roman",serif;
  color: #545454;
  line-height: 25px;
  background-image: url('/imgs/b16.png');
}

a {
  color: #00B7FF;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url(/fonts/JosefinSans-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
