html {
  overflow-y: auto;
}

body {
  padding: 50px;
  font-size: 15px;
  font-family: "Avenir Next",Helvetica,Arial,"Lantinghei SC","Microsoft YaHei",sans-serif;
  color: #444!important;
  line-height: 25px;
  background-image: url('/imgs/background-sea.jpg');
  background-attachement: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

a {
  color: #00B7FF;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url(/fonts/JosefinSans-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
