body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url(/fonts/JosefinSans-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.blog-menu * {
  display: inline-block;
  font: 50px 'Josefin Sans';
}
